body {
    background-color: aquamarine;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    border: 0;
}
nav ul {
list-style: none;
display:flex;
justify-content:center;
gap:1rem; /*separa los elementos*/

}
main{
    display: flex;
    gap:1rem;
    padding: 2rem;
}